<div>
    <h2>Adicione Clientes</h2>
    <form [formGroup]="formulario" novalidate>
        <div class="form-group">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Nome Completo"
                autocomplete="off"
                formControlName="nomeCompleto"
            >
        </div>
        <div class="form-group">
            <input 
                type="text" 
                class="form-control" 
                placeholder="CPF"
                autocomplete="off"
                formControlName="cpf"
            >
        </div>
        <div class="form-group">
            <input 
                type="text" 
                class="form-control" 
                placeholder="E-mail"
                autocomplete="off"
                formControlName="email"
            >
        </div>
        <div class="form-group">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Telefone"
                autocomplete="off"
                formControlName="telefone"
            >
        </div>
        <div class="form-group">
            <button 
                type="submit" 
                class="btn btn-secondary"
                [disabled]="!formulario.valid"
            >Atualizar</button>
        </div>
    </form>
</div>
